/* General cursor styling */
* {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23FFFFFF" stroke-width="4" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>'), default;
}

/* Body styling */
body {
    background-color: #000000;
    font-family: "DM Mono", monospace;
    font-style: normal;
    color: white;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Set particles to be below everything else but above scrolling container */
}

/* Header styles */
h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 650;
}

h2, h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    display: block; /* Hide elements */
    font-weight: 650;
}

/* Paragraph text */
p {
    color: #8f8f8f;
    display: block; /* Hide elements */
    font-weight: 550;
    max-width: 70%;
}

.SocialButton {
    height: 25px;
}

/* Social row styling */
.SocialRow {
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

/* Social icon styling */
.SocialIcon {
    display: block;
}

/* Scrolling container */
.scrolling-container {
    max-width: 100%; /* Restrict the width to the viewport */
    overflow-x: auto; /* Enable horizontal scrolling if necessary */
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 10px 5%;
    box-sizing: border-box;
}

/* Images in scroll */
.scroll-item img {
    max-width: 100%; /* Ensure images do not overflow */
    height: auto;
}
